{% extends "base.html.twig" %}

{% block body %}
<div  id="main-container">
  <h1 class="main page-title">{{'about'|trans}}</h1>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">

    <h3>Le projet TACTEO</h3>
    <p>La plateforme TACTEO est officiellement lancée le 10 septembre 2024 lors de la
    journée « De la transcription manuelle participative des textes à la reconnaissance
    automatique de texte (ATR/HTR) : outils, théorie, pratiques ».</p>

    <p>TACTEO offre la possibilité de déléguer la transcription et l’annotation (tâches
    souvent coûteuses en temps et en ressources) de sources numérisées à des non-
    spécialistes, tout en contrôlant la qualité de l’exécution, et ce via une interface simple
    d’utilisation. Les sources numérisées peuvent être des images, des pdfs, des
    enregistrements audios ou vidéo. TACTEO permet de produire des données
    structurées, exportables, qui peuvent être ainsi exploitées et mises à disposition de
    la communauté scientifique et du public.</p>

    <h4>Comité de pilotage</h4>
    <ul class="mb-4">
      <li>Arnaud Bey (UMR Litt&Arts, UGA)</li>
      <li>Anne Garcia Fernandez (UMR Litt&Arts, UGA)</li>
      <li>Isabelle Pignone (MSH Lorraine) </li>
      <li>Pierre Willaime (Archives Henri-Poincaré)</li>
    </ul>

    <h3>Création de la plateforme</h3>
    <p>La conception de la plateforme s'est largement inspirée des résultats du travail fait par Anne
    Vikhrova pendant sa thèse encadrée par Thomas Lebarbé. Elle a développé la plateforme
    Patrimoine et Humanités Numériques dans le cadre de sa thèse <a href="http://www.theses.fr/2017GREAL023">« L'évaluation de la
    méthode du crowdsourcing pour la transcription de manuscrits »</a> soutenue en décembre
    2017.</p>

    <p>
    Deux projets ont été, sur TACT et sur TACT Palamède, des projets pilotes : testeurs d'une
    infinie patience, mais aussi sources d'inspiration et d'idées de fonctionnalités, nous tenons à
    remercier les projets Benoîte Groult, porté par Cécile Meynard (Université d'Angers,
    laboratoire CIRPaLL), et La réticence, porté par Brigitte Combe (Université Grenoble-Alpes,
    UMR Litt&sArts).</p>

    <p>
    Avec la création d'ELAN en décembre 2017 (et l'arrivée de deux nouveaux ingénieur·e·s
    pour compléter le travail de l'ingénieure déjà présente à Litt&Arts) et l'obtention du projet
    IDEX Data Institute (et en particulier le WP Démarre SHS ! qui a permis de recruter deux
    ingénieur·e·s en développement web et traitement de données), nous avions les
    compétences pour repartir de zéro : nouveau cahier des charges s'appuyant sur l'expérience
    passée, nouvelles technologies de développement web et nouvelle gestion du projet.</p>

    <p>
    Depuis 2022, le projet Palamède, porté par Samuel Ferey  (MSH Lorraine) et financé par
    Huma-Num, a débouché sur une collaboration entre Alexander Grebenkov (MSH Lorraine),
    Isabelle Pignone (MSH Lorraine) et Arnaud Bey (ELAN) afin de développer de nouvelles
    fonctionnalités sur une instance locale. Ces fonctionnalités sont intégrées dans TACTEO.
    </p>

    <h5>Le logiciel TACT</h5>
    <p>TACT est le logiciel sur lequel la plateforme TACTEO repose. Disponible sur Gitlab
    (<a href="https://gricad-gitlab.univ-grenoble-alpes.fr/elan/tact">https://gricad-gitlab.univ-grenoble-alpes.fr/elan/tact</a>) sous licence GNU GENERAL PUBLIC LICENSE, vous êtes libre de le télécharger et d'installer votre
    propre instance.
    </p>

    <h5>En savoir plus...</h5>
    <p>Voir la vidéo de présentation de TACT lors des journées Digit_Hum du 17 octobre 2019 : <a href="https://digithum.huma-num.fr/atelier/2019/8_marion_greslou_garciafernandez.php">vidéo</a></p>
    <hr/>

    <h3>L'équipe</h3>
    <p>
      <a href="https://demarreshs.hypotheses.org/">Démarre SHS !</a> a collaboré avec <a href="https://www.elan-numerique.fr/">ELAN</a>, Équipe Littératures et Arts Numériques (<a href="http://litt-arts.univ-grenoble-alpes.fr/">Litt&Arts -
      UMR5316</a>), pour développer une plateforme collaborative de transcription et d’annotation de
      corpus textuels. Ainsi, ce sont Arnaud Bey, Anne Garcia-Fernandez, Elisabeth Greslou
      (ELAN), Patrick Guillou, Sylvain Hatier, Célia Marion (Démarre SHS !) et Thomas Lebarbé
      (Litt&Arts, Démarre SHS !) qui ont pris part à la conception et au développement de la
      plateforme initiale TACT. Depuis 2022, la communauté TACT s’est élargie en Lorraine avec
      la participation d’Alexander Grebenkov (MSH Lorraine) et d’Isabelle Pignone (MSH Lorraine)
      afin de permettre la prise en charge de corpus textuels multipages et oraux par la
      plateforme.
    </p>
    <hr/>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
