{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
  <div id="home">
    <div class="row">
      
      <div class="col px-4">
        <p>
          {% set homePictureUrl = asset('img/tacteo-logo.png') %}
          {% if platform.homePicture %}
            {% set homePictureUrl = asset('platform/'~ platform.homePicture) %}           
          {% endif %}
          <img class="rounded-lg" width=100% src='{{homePictureUrl}}'>
        </p>
      </div>

      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6 px-4">
        <div class="text-justify">
          <p>{{platform.name}} est une plateforme de transcription et d'annotation collaborative qui accueille des projets de recherche et permet à chacun d'apporter sa contribution ou de solliciter la communauté de la plateforme.</p>
          <p><strong>Vous voulez participer à un projet ?</strong> Vous pouvez transcrire et annoter des textes originaux, relire et vérifier des transcriptions faites par d'autres internautes, consultez ce <a download class="tact-link" href="{{asset('platform/manuel_contributeur.pdf')}}"> manuel du contributeur </a> et allez <a class="tact-link" href="{{ path('project_list') }}"> explorer les projets</a> !
          </p>

          <p>
          <strong>Vous souhaitez déposer un projet sur {{platform.name}} ?</strong> N'hésitez pas à nous en faire la demande via <a target="_blank" class="tact-link" href="{{platform.questionnaireUrl}}">ce formulaire</a>. Vous deviendrez gestionnaire de votre projet {{platform.name}}, vous pourrez en définir les modalités et gérer les contributions. Nous vous invitons à lire ce <a download class="tact-link" href="{{ asset('platform/manuel_gestionnaire.pdf') }}">manuel du gestionnaire</a> qui vous donnera toutes les informations nécessaires ainsi que la marche à suivre. Bonne lecture !</p>
          <p><strong>Vous pouvez aussi nous contacter</strong> à cette adresse : {{ platform.mailAdress }}
          </p>

          <p>
            <a href="{{ path('project_list') }}" class="btn btn-block btn-orange btn-lg mt-3">
            <i class="fas fa-rocket"></i> {{"project_list"|trans}}
            </a>
            {% if platform.questionnaireUrl %}
            <a target="_blank" href="{{platform.questionnaireUrl}}" class="btn btn-block btn-orange btn-lg mt-3">
            <i class="fas fa-comment"></i> {{"project_ask"|trans}}
            </a>
            {% endif %}
            <a download href="{{asset('platform/manuel_contributeur.pdf')}}" class="btn btn-block btn-orange btn-lg mt-3">
            <i class="fas fa-book-open"></i> {{"contributor_guide"|trans}}
            </a>
          </p>

        </div>
      </div>

      {% include 'base-include/last-contribs.html.twig' %}

    </div>
  </div>
{% endblock %}
