{% extends "base.html.twig" %}

{% block body %}
  <div id="main-container">
    <h1 class="main page-title">{{'stats'|trans}}</h1>
    <div class="row justify-content-center">
      <div class="col-8">

        <div class="card mb-2">
          <h1 class="card-title">Utilisateurs connectés</h1>
          <table class="table table-hover">
            <tr>
              <td>Ces dernières 24h</td>
              <td>{{ connectedCount[0] }}</td>
            </tr>
            <tr>
              <td>Cette dernière semaine</td>
              <td>{{ connectedCount[1] }}</td>
            </tr>
            <tr>
              <td>Ce dernier mois</td>
              <td>{{ connectedCount[2] }}</td>
            </tr>
            <tr>
              <td>Cette dernière année</td>
              <td>{{ connectedCount[3] }}</td>
            </tr>
          </table>
        </div>

        <div class="card mb-2">
          <h1 class="card-title">Cumul des inscrits ({{signupTotal}})</h1>
          <div class="card-body">
          {% set previous = 0 %}
          {% for year, count in signupCountByYear %}
            {% set percent = count/signupTotal*100 %}
            {% set delta = count-previous %}
            {{year}}
            <div class="progress mb-1">
              <div class="progress-bar" role="progressbar" style="width: {{percent}}%;">{{count}} {{previous == 0 ? '' : '(+'~delta~')' }}</div>
            </div>
            {% set previous = count %}
          {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
