{% extends "base.html.twig" %}

{% block body %}
  {% set project = media.project %}
  {% include 'project/navigation.html.twig' with {'project': project, 'current': 'project_transcriptions'} %}

  <style>
  {{ project.css ?  project.css | raw : ''}}
  </style>

  {{ include('media/viewer.html.twig', { 'media': media }) }}

  {# MODAL WITH REVIEW FORM #}
  {{ include('review/form.html.twig') }}

  {% if edit %}
    <input type="hidden" id="log-id" name="log_id" value="{{log.id}}">
  {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/css/intro.css') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    var mode = 'validation';
  </script>
  <script src="{{ asset('build/js/transcription.js') }}"></script>
{% endblock %}
