{% import "media/macros.html.twig" as macros %}

{% set mediaURL = macros.mediaViewURL(media) %}

<div class="audio-container">
    <audio class="audio-player" src="{{ mediaURL }}" preload="auto" controls autostart="0" autostart="false"></audio>
</div>
