{% extends "base.html.twig" %}

{% block body %}

<div id="main-container">
  <h1 class="main page-title">{{'login'|trans}}</h1>
  <div class="row justify-content-center">
    <div class="col-8">
      {% if auth_error %}
        <div class="alert alert-danger">{{ auth_error.messageKey|trans(auth_error.messageData, 'security') }}</div>
      {% endif %}
      <div class="card">
        <div class="card-body">
            <form action="{{ path('user_login') }}" method="post">
        <input type="hidden" name="_target_path" value="/" />
        <div class="form-group">
          <label class="form-control-label required" for="username">{{ 'username' | trans({}, 'messages')}}</label>
          <input class="form-control" required="required" type="text" id="username" name="_username" value="{{ last_username }}"/>
        </div>
        <div class="form-group">
          <label class="form-control-label required" for="password">{{ 'password' | trans({}, 'messages')}}</label>
          <input class="form-control" type="password" id="password" name="_password"/>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary" type="submit">{{ 'submit' | trans({}, 'messages')}}</button>
          </div>
          <div class="col-6 text-right">
            <a class="btn btn-link" href="{{ path('user_lost_password_form') }}">{{ 'lost_password_link' | trans({}, 'messages')}}</a>
          </div>
        </div>
      </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
