{% extends "base.html.twig" %}
{% block body %}

<div id="main-container">
  <h1 class="main page-title">{{'register'|trans}}</h1>

  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.publicMail) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            {{"accept_terms"|trans({'%url%': path('terms')})|raw}}
            <div class="form-group form-check">
              <input required type="checkbox" class="form-check-input" id="accept-terms" />
              <label class="form-check-label" for="accept-terms">{{"iaccept"|trans({'%url%': path('terms')})|raw}}</label>
            </div>
            <button class="btn btn-primary" type="submit">{{ 'submit' | trans({}, 'messages')}}</button>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
