{% extends "base.html.twig" %}
{% block body %}
<div id="main-container">
  <h1 class="main page-title">{{'lost_password_link'|trans}}</h1>
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          {{ form_start(form) }}
            <input type="hidden" name="token" value="{{token}}">
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            <button class="btn btn-primary" type="submit">{{ 'submit' | trans({}, 'messages')}}</button>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
