[v-cloak] {
  display: none;
}

h1 {
  color: black;
}

.itemlist {
  background-color: lightgray;
}

.unselectedchild {
  color: gray;
}

.btn-link,
.btn-link:focus,
.btn-link:hover {
  outline: 0;
  box-shadow: none;
}

/* .colordisplay {
  text-shadow: 1px 1px 2px black;
}

.backgroundcolordisplay {
  text-shadow: 2px 2px 3px black;
  color: white;
}

.underlined {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.big {
  font-size: x-large;
}

.small {
  font-size: small;
} */

ul {
  list-style-type: none;
}

.attr-value-input {
  max-width: 100%;
}

#new-tag {
  max-width: 240px;
}