{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
{% include 'project/navigation.html.twig' with {'current': 'project_edit'} %}

  <div id="main-container">
    <div class="row justify-content-center">
      <div class="col-8">

      
        <h1 class="page-title">{{"edit_iiif"|trans}}</h3>

        <div class="card">
          <div class="card-body">

            <div class="text-right">
              <a class="btn btn-primary" data-toggle="collapse" href="#collapse-help" role="button" aria-expanded="false" aria-controls="collapse-help">
                {{"help"|trans}}
              </a>
            </div>

            <div class="collapse" id="collapse-help">
            <div class="card">
            <div class="card-body">
            TACT permet d'interroger des serveurs d'image externes. Outre l'url du serveur en question, il est possible de configurer des préfixes et/ou suffixes pour l'affichage des images miniatures et des images en pleine qualité. Il est recommandé d'effectuer cette configuration pour un affichage rapide des pages listant des ensemble de médias (réduire la lenteur d'affichage et le transfert de données) tout en donnant accès à des images de haute qualité sur les pages de transcription.

            <h4 class="mt-3">Exemples de configuration</h4>

            <h5>pour un serveur IIIF, préciser uniquement des suffixes</h5>

            <code>
              <pre>
              Nom du serveur : Nakala
              URL du serveur : https://api.nakala.fr/iiif/
              Préfixe large : 
              Préfixe miniature : 
              Suffixe large : /full/full/0/default.jpg
              Suffixe miniature : /full/300,/0/default.jpg
              </pre>
            </code>

            Pour la création des média, il suffira d'indiquer les identifiants des fichiers. Par exemple : `10.34847/nkl.28e51unu/59e380ff54084b44e3f33cc6b10059b4a96a2d08` (disponible sur Nakala en cliquant sur "Copier l'ID". <a target="_blank" href="https://nakala.fr/10.34847/nkl.28e51unu">[Voir ici]</a> par exemple). L'URL créée pour l'affichage d'une vignette sera `https://api.nakala.fr/iiif/10.34847/nkl.28e51unu/59e380ff54084b44e3f33cc6b10059b4a96a2d08/full/300,/0/default.jpg` et pour une image en pleine qualité : `https://api.nakala.fr/iiif/10.34847/nkl.28e51unu/59e380ff54084b44e3f33cc6b10059b4a96a2d08/full/full/0/default.jpg` 

            <h5 class="mt-3">pour un hébergement sur un CMS comme Omeka, préciser uniquement des préfixes</h5>
              
            <code>
              <pre>
              Nom du serveur : EMAN-Mythologia
              URL du serveur : https://eman-archives.org/Mythologia/
              Suffixe large : 
              Suffixe miniature : 
              Préfixe large : files/fullsize/
              Préfixe miniature : files/square_thumbnails/
              </pre>
            </code>

            Pour la création des média, il suffira d'indiquer le nom du fichier. Par exemple : `0fa4c459def0646973f3cfed6471afcb.jpg`. L'URL créée pour l'affichage d'une vignette sera `https://eman-archives.org/Mythologia/files/square_thumbnails/0fa4c459def0646973f3cfed6471afcb.jpg` et pour une image en pleine qualité : `https://eman-archives.org/Mythologia/files/fullsize/0fa4c459def0646973f3cfed6471afcb.jpg`

          </div>
          </div>
          </div>

            {{form(form)}}

            {% if server.id %}
              {% if server.medias|length == 0 %}
              <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                <i class="fas fa-trash"></i> {{"delete_iiif_server"|trans}}
              </button>

              <div id="deleteModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{"delete_iiif_server"|trans}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>{{"confirm_delete_iiif_server"|trans}} {{server.name}} ? </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
                      <a href="{{path("iiif_delete", {id:server.id})}}" class="btn btn-danger">{{"yes_delete"|trans}}</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endif %}
           
          </div>
        </div>


      </div>
    </div>
  </div>

{% endblock %}
