{% for user in users %}
  {% set admin = 'ROLE_ADMIN' in user.roles %}
  <tr class="{% if user.anonymous %} table-warning {% elseif admin %} table-success {% endif %}">
    <th data-placement="bottom" scope="row">{{user.id}}</th>
    <td>
        <button
                type="button"
                data-toggle="tooltip"
                title="{{ (user.active ? 'user_deactivate' : 'user_activate') | trans}}"
                class="btn btn-link user-active-chk"
                data-id="{{user.id}}"
                data-active="{{ user.active  ? 'false' : 'true'}}"
        >
            <i
                class="fas fa-solid h4 {{ user.active ? 'fa-toggle-on text-primary' : ' fa-toggle-off text-secondary'}}"
            ></i>
        </button>
    </td>
    <td>{{user.fullname}}</td>
    <td>{{user.createdAt|date("d/m/Y")}}</td>
    <td>{{user.lastAccess ? user.lastAccess|date("d/m/Y") : ""}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>

    {% if not user.anonymous %}
    <td>
      <div class="btn-group">
        <a href="{{path('user_edit', {'id': user.id})}}" data-toggle="tooltip" title="{{'user_edit' | trans}}" class="btn btn-link">
          <i class="fas fa-user-edit"></i>
        </a>
        {% if not admin %}
        <form id="partially-anonymize-user-form" action="{{path('admin_user_anonymize_account', {'id':user.id})}}" method="post">
          <input type="hidden" name="type" value="partial">
          <button type="submit" data-toggle="tooltip" title="{{'user_anonymize_partially' | trans}}" class="btn btn-link">
            <i class="fas fa-user-ninja"></i>
          </button>
        </form>
        <form id="fully-anonymize-user-form" action="{{path('admin_user_anonymize_account', {'id':user.id})}}" method="post">
          <input type="hidden" name="type" value="full">
            <button data-toggle="tooltip" title="{{'user_anonymize_fully' | trans}}" class="btn btn-link anonymize-user">
              <i class="fas fa-user-secret"></i>
            </button>
        </form>
        <form action="{{path("user_export", {id: user.id})}}" method="post">
          <button data-toggle="tooltip" title="{{ 'user_export_details' | trans}}" class="btn btn-link" type="submit">
            <i class="fas fa-external-link-alt"></i>
          </button>
        </form>
        {% endif %}
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-crown"></i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{path("admin_user_set_role", {'id': user.id, 'role': "ROLE_USER"})}}">Utilisateur</a>
          <a class="dropdown-item" href="{{path("admin_user_set_role", {'id': user.id, 'role': "ROLE_ADMIN"})}}">Administrateur</a>
        </div>
      </div>
    </td>
    {% else %}
        <td>{{'user_is_anonymized' | trans}}</td>
    {% endif %}
  </tr>
{% endfor %}
