{% extends "base.html.twig" %}

{% block stylesheets %}
  {{parent()}}
{% endblock %}

{% block body %}

<div id="main-container">
  <h1 class="main page-title">{{'platform_page_title'|trans}}</h1>

  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
        {{ form_start(form) }}
          {{ form_row(form.name) }}
          {{ form_row(form.displayNameNavBar) }}
          {{ form_row(form.color) }}
          {{ form_row(form.message) }}
          {{ form_row(form.tesseractUrl) }}
          {{ form_row(form.questionnaireUrl) }}
          {{ form_row(form.mailAdress) }}
          {{ form_row(form.platform_guide) }}
          {{ form_row(form.manager_guide) }}
          {{ form_row(form.logo) }}
          {{ form_row(form.homePicture) }}

          {% if platform.logo %}
          <div class="row platform-logo-row">
            <div class="col-6">
              <img style="max-width:100%" class="platform-logo" src="{{ asset('platform/'~ platform.logo) }}">
              <input type="hidden" name="previous_logo" value="{{ platform.logo }}" />
            </div>
            <div class="col">
              <button type="button" data-toggle="tooltip" data-placement="right" role="button" class="btn btn-danger btn-logo-delete" title="{{'platform_delete_logo' | trans}}">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
          {% endif %}

          {{ form_row(form.homePicture) }}
          {% if platform.homePicture %}
          <div class="row platform-homePicture-row">
            <div class="col-6">
              <img style="max-width:100%" class="platform-homePicture" src="{{ asset('platform/'~ platform.homePicture) }}">
              <input type="hidden" name="previous_homePicture" value="{{ platform.homePicture }}" />
            </div>
            <div class="col">
              <button type="button" data-toggle="tooltip" data-placement="right" role="button" class="btn btn-danger btn-homePicture-delete" title="{{'platform_delete_homePicture' | trans}}">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
          {% endif %}

          <button class="btn btn-primary float-right" type="submit">{{ 'submit' | trans({}, 'messages')}}</button>
        {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="{{asset('build/js/platform.js')}}"></script>
{% endblock %}
