{% import "media/macros.html.twig" as macros %}
<div class="bg-white" id="main-container" data-intro="{{ 'help1'|trans }}" data-step="1">
    {{ include('media/action-bar.html.twig') }}
    {# OSD + EDITOR/TRANSCRIPTION #}
    <div
            class="row media-viewer"
            data-url="{{ macros.mediaURL(media) }}"
            data-type="{{ media.type }}"
            data-options="{{ {'videoType': media.videoType } | json_encode }}"

    >

        {% if not media.image or (media.image and media.url is not null) %}
        <div class="col-5" data-intro="{{ 'help2'|trans }}" data-step="2">
            <div class="media-navigator">
                <button id="media-navigator-previous" data-id="{{ media.id }}" type="button" class="ml-2 btn btn-light">
                    <i class="fa fa-angle-double-left"></i>
                </button>
                <button id="media-navigator-home" data-id="{{ media.id }}" type="button" class="btn btn-light">
                    <i class="fas fa-home"></i>
                </button>
                <button id="media-navigator-next" data-id="{{ media.id }}" type="button" class="btn btn-light">
                    <i class="fa fa-angle-double-right"></i>
                </button>

            </div>
            <div id="warning-media-changed" class="d-none mt-2 alert alert-warning">{{"warning_media_changed"|trans}}</div>

            <div class="media-viewer-content" style="display: none">
                {{ include('media/content/pdf.html.twig', { 'media': media }) }}
                {{ include("media/openseadragon.html.twig") }}
                {{ include('media/content/audio.html.twig', { 'media': media }) }}
                <div class="video-player-transcription"></div>
            </div>
        </div>
        {% endif %}
        <div class="col">
            {{ include('transcribe/tei-editor.html.twig', { 'media': media }) }}
        </div>
    </div>
</div>
