{% extends "emails/master.html.twig" %}
{% block body %}
  {% trans_default_domain 'emails' %}
  {{ "email_invitation_body"|trans({'%url%': url, '%status%': status, '%projectName%': projectName})|raw }}
{% endblock %}
