{% extends "base.html.twig" %}

{% import _self as formMacros %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/create-project.css') }}">
{% endblock %}

{% block body %}

{% include 'project/navigation.html.twig' with {'current': 'project_edit'} %}

<div id="main-container">

  <h1 class="page-title">
    {{'edit_advanced'|trans}}
  </h1>

  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.css) }}
            
            <div class="form-group">
              {{form_label(form.tesseractLanguage) | raw}}
              {{form_widget(form.tesseractLanguage) | raw}}
              <span class="text-muted small">
                {{"tesseract_form_help"|trans|raw}}
              </span>
            </div>

              <div class="row mt-3 mb-4">
                <div class="col">
                  {{ form_row(form.xslt_export) }}
                  {% if project|hasXsl %}
                  <div class="project-xsl-row">
                      <a download href="{{ asset('project_files/'~ project.id ~ '/export.xsl') }}">export.xsl</a>
                      <button data-project-id="{{ project.id }}" id="delete-xsl" type="button" role="button" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash"></i>
                      </button>
                  </div>
                  {% endif %}
                  <span class="text-muted small">Vous trouverez <a download href="{{ asset("data/xsl-exemple.xsl") }}">ici</a> un exemple de xsl</span>
                </div>
              </div>
              {{ form_widget(form._token) }}
              {{ form_row(form.save) }}
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/edit-advanced-project.js') }}"></script>
{% endblock %}
