{% extends "base.html.twig" %}

{% import _self as formMacros %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/create-project.css') }}">
{% endblock %}

{% block body %}

{% include 'project/navigation.html.twig' with {'current': 'project_edit'} %}
{% set divClass = "mb-4 col-12 col-md-6 col-lg-4 col-xl-3 d-flex align-items-stretch" %}

<div id="main-container">
  <div class="row">
    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="fas fa-cog"></i> {{ "edit_basic" | trans }}</h5>
          <p class="card-text text-justify">{{ "edit_basic_help" | trans }}</p>
          <a class="mt-auto card-link " href="{{ path("project_edit-basic", {'id': project.id} )}}">{{ "edit" | trans }}</a>
        </div>
      </div>
    </div>

    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="fas fa-cogs"></i> {{ "edit_advanced" | trans }}</h5>
          <p class="card-text text-justify">{{ "edit_advanced_help" | trans }}</p>
          <a class="mt-auto  card-link" href="{{ path("project_edit-advanced", {'id': project.id} )}}">{{ "edit" | trans }}</a>
        </div>
      </div>
    </div>

    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="fas fa-server"></i> {{ "edit_iiif" | trans }}</h5>
          <p class="card-text text-justify">{{ "edit_iiif_help" | trans }}</p>
          <a class="mt-auto card-link" href="{{ path("project_edit-iiif", {'id': project.id} )}}">{{ "edit" | trans }}</a>
        </div>
      </div>
    </div>

    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="fas fa-cloud-download-alt"></i> {{ "edit_media_servers" | trans }}</h5>
          <p class="card-text text-justify">{{ "edit_media_servers_help" | trans }}</p>
          <a class="mt-auto card-link" href="{{ path("project_edit-media-servers", {'id': project.id} )}}">{{ "edit" |
            trans
            }}</a>
        </div>
      </div>
    </div>


    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="fas fa-users"></i> {{'users' | trans}}</h5>
          <p class="card-text text-justify">{{'manage_user_statuses_long' | trans}}</p>
          <div class="mt-auto">
            <a class="card-link" href="{{ path('status_project', {id: project.id}) }}">
              {{'users' | trans}}
            </a>
            <a class="card-link" href="{{ path('project_message', {'id': project.id}) }}">
              {{"message_project"|trans}}
            </a>
            <a class="card-link" href="{{ path('status_invite', {'id': project.id}) }}">
              {{"invite_project"|trans}}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="far fa-images"></i> {{'medias' | trans}}</h5>
          <p class="card-text text-justify">{{'manage_media_long' | trans}}</p>
          <a class="mt-auto card-link" href="{{ path('project_media', {id: project.id}) }}">
            {{'medias' | trans}}
          </a>
        </div>
      </div>
    </div>

    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="fa fa-code"></i> {{"encoding_scheme"|trans}}</h5>
          <p class="card-text text-justify">{{'encoding_scheme_long' | trans}}</p>
          <a class="mt-auto card-link" href="{{ path('project_schema', {'id': project.id}) }}">
            {{"encoding_scheme"|trans}}
          </a>
        </div>
      </div>
    </div>

    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="fas fa-chart-line"></i> {{"events"|trans}}</h5>
          <p class="card-text text-justify">{{'events_long' | trans}}</p>
          <a class="mt-auto card-link" href="{{ path('project_display_logs', {'id': project.id}) }}">
            {{"events"|trans}}
          </a>
        </div>
      </div>
    </div>

    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="fas fa-clipboard-list"></i> {{ "edit_metadatas" | trans }}</h5>
          <p class="card-text text-justify">{{ "edit_metadatas_help" | trans }}</p>
          <a class="mt-auto card-link" href="{{ path("project_metadatas", {'id': project.id} )}}">{{ "edit" | trans }}</a>
        </div>
      </div>
    </div>

    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="fas fa-archive"></i> {{ project.archived ? 'project_unarchive'|trans : 'project_archive'|trans}}</h5>
          <p class="card-text text-justify">{{ "project_archive_long" | trans }}</p>
          <a class="mt-auto card-link" href="{{ path('project_archived_toggle', {id: project.id}) }}">
            {{ project.archived ? 'project_unarchive'|trans : 'project_archive'|trans}}
          </a>
        </div>
      </div>
    </div>

    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="fas fa-file-download"></i> {{'export' | trans}}</h5>
          <p class="card-text text-justify">{{'export_long' | trans}}</p>
          <a class="mt-auto card-link" href="{{ path('project_export', {id: project.id}) }}">
            {{'export' | trans}}
          </a>
        </div>
      </div>
    </div>

    <div class="{{divClass}}">
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"><i class="far fa-trash-alt"></i> {{'project_delete' | trans}}</h5>
          <p class="card-text text-justify">{{'project_delete_long' | trans}}</p>
          <a class="card-link mt-auto" href="#" data-toggle="modal" data-target="#deleteProjectConfirmModal">
            {{'project_delete' | trans}}
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="deleteProjectConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProjectConfirmModalLabel">{{'confirm_title'| trans}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>{{'confirm_project_deletion' | trans}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="cancel" data-dismiss="modal">{{'cancel' | trans}}</button>
        <a href="{{ path("project_delete", {'id': project.id} )}}" type="button" class="btn btn-danger delete-project-confirm-button">{{'confirm' | trans}}</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
