{% extends "base.html.twig" %}


{% block stylesheets %}
  {{parent()}}
  <link rel="stylesheet" href="{{ asset('build/css/json-editor.css') }}">
{% endblock %}


{% block body %}
  {% include 'project/navigation.html.twig' with {'current': 'project_edit'} %}

  <div id="main-container" class="bg-white">  
    <div class="row">
      <div class="col">
        <div data-project="{{project.id}}" id="vue" v-cloak>
          <h1>Gestion du schéma d'encodage</h1>

          <button class="btn btn-secondary mr-2" type="button" data-toggle="collapse" data-target="#collapse-upload">
            Import de fichier Json 
          </button>

          <a v-if="existing" class="btn btn-info mr-2" download href="{{ asset('project_files/'~ project.id ~ '/tei-schema.json') }}">
            Télécharger le schéma actuellement sur le serveur
          </a>

          <a v-if="existing && !deleteConfirm" class="btn btn-danger" @click="deleteConfirm = true">
            Supprimer le schéma actuellement sur le serveur
          </a>

          <a v-if="existing && deleteConfirm" class="btn btn-danger mr-2" @click="deleteFromProject(true)">
            Oui, supprimer !
          </a>
          <a v-if="existing && deleteConfirm" class="btn btn-danger" @click="deleteFromProject(false)">
            Non
          </a>

          <div class="collapse mt-2" id="collapse-upload">
              <div class="card card-body">
                <p>Attention, importer un nouveau fichier écrase toute donnée actuellement saisie dans l'interface.</p>
                <div class="input-group mb-3">
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" id="file-selector-vue" accept=".json" @change="fileload($event)">
                      <label class="custom-file-label" for="file-selector-vue">Fichier json à importer</label>
                  </div>
                </div>
              </div>
          </div>

          <hr />
          <!-- NEW TAG -->
          <entrees @newtag="addTag" :tags="tags"></entrees>
          <!-- TAGS -->
          <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-2">
            <tag-item v-for="tag in tags" :item="tag" :key="tag.id" :tags="tags" @delete-item="removeItem(tag.id)"></tag-item>
          </div>

          <div class="text-center" v-if="tags.length != 0">
            <a @click="save" :href='downloadurl' download="schema-tei.json" class="btn btn-primary mr-2" id="telechargement">
              Télécharger le schéma
            </a>

            <button @click="saveToProject" class="btn btn-primary mr-2">
              Associer le schéma au project
            </button>

            <button @click="reset" class="btn btn-danger float-right">Remise à zéro</button>
          </div>
          {# <a class="btn btn-warning" id="telechargementcss" :download="cssfilename" :href="downloadurlcss">Télécharger fichier CSS</a> #}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/vue.js') }}"></script>
  <script type="module" src="{{ asset('build/js/json-editor.js') }}"></script>
{% endblock %}

