{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
  <div class="bluebg" id="main-container">
    <h1 class="main page-title">{{'project_list'|trans}}</h1>
    <div class="project-grid">
    {% for project in projectsUnarchived %}
      {{ macros.displayProject(project) }}
    {% endfor %}
    </div>

    {% include 'base-include/last-contribs.html.twig' %}

    {% if projectsArchived|length > 0 %}
    <div id="archived-wrapper">
      <h1>Projets archivés</h1>
      <div class="project-grid archived">
        {% for project in projectsArchived %}
          {{ macros.displayProject(project) }}
        {% endfor %}
      </div>
    </div>
    {% endif %}

  </div>
{% endblock %}
