{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/project-media.css') }}">
{% endblock %}

{% block body %}

    {% include 'project/navigation.html.twig' with {'current': 'project_edit'} %}

    <div class="bg-white" id="main-container">
        {% if project | isAuthorizedOnProject('manageMedia') %}

            <div class="row">

                {# AJOUT DES MEDIA #}
                <div class="col">
                    <div class="card media-upload-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col" data-toggle="collapse" data-target="#upload-form">
              <span class="btn btn-secondary">
                <i class="fas fa-plus"></i>
                {{ 'project_media_add_file_title' | trans }}
              </span>
                                </div>
                            </div>
                        </div>
                        <div id="upload-form" class="collapse card-body">
                            {{ form_start(form) }}
                            <div class="alert alert-info">
                                {{ 'media_upload_help' | trans }}
                            </div>
                            <div class="form-group row col">
                                <label class="col-form-label">{{ 'project_media_file_type' | trans }}</label>

                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active" for="inlineCheckbox1">
                                        <input class="radio-file-type" data-what="images"
                                               name="file-type"
                                               type="radio" id="inlineCheckbox1" checked value="images">
                                        {{ 'project_media_file_type_images' | trans }}
                                    </label>
                                    <label class="btn btn-secondary" for="inlineCheckbox3">
                                        <input class="radio-file-type" data-what="images"
                                               name="file-type"
                                               type="radio"
                                               id="inlineCheckbox3" value="pdf">
                                        {{ 'project_media_file_type_pdf' | trans }}
                                    </label>
                                    <label class="btn btn-secondary" for="inlineCheckbox4">
                                        <input class="radio-file-type" data-what="images"
                                               name="file-type"
                                               type="radio"
                                               id="inlineCheckbox4" value="audio">
                                        {{ 'project_media_file_type_audio' | trans }}
                                    </label>
                                    <label class="btn btn-secondary" for="inlineCheckbox6">
                                        <input class="radio-file-type" data-what="images"
                                               name="file-type"
                                               type="radio"
                                               id="inlineCheckbox6"
                                               value="video_files">
                                        {{ 'project_media_file_type_video_file' | trans }}
                                    </label>
                                    <label class="btn btn-secondary" for="inlineCheckbox2">
                                        <input class="radio-file-type" data-what="images"
                                               name="file-type"
                                               type="radio" id="inlineCheckbox2" value="zip">
                                        {{ 'project_media_file_type_zip' | trans }}
                                    </label>
                                </div>
                            </div>

                            {{ form_row(form.images) }}

                            {{ form_row(form.zip) }}

                            {{ form_row(form.pdf) }}

                            {{ form_row(form.audio) }}

                            {{ form_row(form.video_files) }}

                            <div class="max-file-upload-msg">
                                <small class="form-text text-muted max-file-upload-alert"><i
                                            class="fas fa-exclamation-triangle fa-fw"></i>{{ 'max_file_uploads_message' | trans({'%nb_max%': fileLimit}) }}
                                    - <span id="nb-media-selected">0</span> {{ 'selected_media' | trans }}</small>
                            </div>

                            {{ form_row(form.update_media) }}

                            <div class="form-group">
                                {{ form_row(form.save) }}
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>

                {# AJOUT IIIF #}
                <div class="col">
                    <div class="card iiif-upload-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col" data-toggle="collapse" data-target="#media-servers-tabs">
                                  <span class="btn btn-secondary">
                                    <i class="fas fa-plus"></i>
                                    {{ 'project_media_from_external_source' | trans }}
                                  </span>
                                </div>
                            </div>
                        </div>

                        <div class="collapse card-body" id="media-servers-tabs">
                            <ul class="nav nav-tabs" id="media-server-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       data-toggle="tab"
                                       href="#media-iiif"
                                       role="tab"
                                       aria-controls="home"
                                       aria-selected="true"
                                    >
                                        {{ 'select_iiif_storage' | trans }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       data-toggle="tab"
                                       href="#media-cloud"
                                       role="tab"
                                       aria-controls="contact"
                                       aria-selected="false">{{ 'select_cloud_storage' | trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       data-toggle="tab"
                                       href="#media-cloud-video"
                                       role="tab"
                                       aria-controls="contact"
                                       aria-selected="false">{{ 'select_cloud_video' | trans }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       data-toggle="tab"
                                       href="#media-direct-link"
                                       role="tab"
                                       aria-controls="direct-link"
                                       aria-selected="false">{{ 'select_direct_cloud_links' | trans }}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active mt-4 media-modal-content"
                                     id="media-iiif"
                                     role="tabpanel">
                                    <div>
                                        {% if project.iiifServers|length > 0 %}
                                            <div class="alert alert-info">
                                                {{ 'media_upload_iiif_help' | trans }}
                                            </div>
                                            {{ form(formIIIF) }}
                                        {% else %}
                                            <div class="alert alert-warning">
                                                {{ 'add_server_iiif_help' | trans }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div
                                        class="tab-pane fade show mt-4 media-modal-content"
                                        id="media-cloud"
                                        role="tabpanel"
                                >
                                    <div class="cloud-media-server"></div>
                                </div>
                                <div
                                        class="tab-pane fade show mt-4 media-cloud-video-content"
                                        id="media-cloud-video"
                                        role="tabpanel"
                                >
                                    <div class="cloud-cloud-video">
                                        <div class="form-group">
                                            <div class="cloud-video-input" id="project_media_video_url"></div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                        class="tab-pane fade show mt-4 media-modal-content"
                                        id="media-direct-link"
                                        role="tabpanel"
                                >
                                    <div class="cloud-direct-links"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# AJOUT TRANSCRIPTION #}
                <div class="col">
                    <div class="card media-upload-card">
                        <div class="card-header bg-tertiary">
                            <div class="row">
                                <div class="col" data-toggle="collapse" data-target="#upload-xml-form">
            <span class="btn btn-secondary">
              <i class="fas fa-plus"></i>
              {{ 'xml_add_file_title' | trans }}
            </span>
                                </div>
                            </div>
                        </div>
                        <div id="upload-xml-form" class="collapse card-body">
                            {{ form_start(formXml) }}
                            <div class="alert alert-info">
                                {{ 'xml_upload_help' | trans }}
                            </div>

                            <div class="form-group row col">
                                <label class="col-3 col-form-label">{{ 'xml_file_type' | trans }}</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio-file-type" data-what="xmls" name="file-type"
                                           type="radio" id="inlineCheckbox3" checked value="xmls">
                                    <label class="form-check-label"
                                           for="inlineCheckbox3">{{ 'project_media_file_type_xmls' | trans }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio-file-type" data-what="xmls" name="file-type"
                                           type="radio" id="inlineCheckbox4" value="zip">
                                    <label class="form-check-label"
                                           for="inlineCheckbox4">{{ 'project_media_file_type_zip' | trans }}</label>
                                </div>
                            </div>

                            {# file(s) upload form #}
                            {{ form_row(formXml.xmls) }}

                            <div class="max-file-upload-msg">
                                <small class="form-text text-muted max-file-upload-alert"><i
                                            class="fas fa-exclamation-triangle fa-fw"></i>{{ 'max_file_uploads_message' | trans({'%nb_max%': fileLimit}) }}
                                    - <span id="nb-xmls-selected">0</span> {{ 'selected_xmls' | trans }}</small>
                            </div>

                            {{ form_row(formXml.zip) }}

                            <div class="form-group">
                                {{ form_row(formXml.create_empty_media) }}
                                {{ form_row(formXml.overwrite) }}
                                {{ form_row(formXml.auto_valid_transcript) }}
                                {{ form_row(formXml.rootTag) }}
                                {{ form_row(formXml.save) }}
                            </div>

                            {{ form_end(formXml) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {{ include('media/media-list-manage-partial.html.twig', { 'project': project }) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/project-media.js') }}"></script>
    <script>
        const cloudSeverMessages = {
            helpMessage: '{{ 'media_upload_from_media_server_help' | trans }}',
            emptyServersMessage: '{{ 'add_media_server_help' | trans }}',
            pathInputLabel: '{{ 'media_server_path_placeholder' | trans }}',
            pathErrorMessage: '{{ 'path_error_message' | trans }}',
            mediaServerLabel: '{{ 'media_server' | trans }}',
            mediaServerHelp: '{{ 'media_server_help' | trans }}',
            mediaServerErrorMessage: '{{ 'path_error_message' | trans }}',
            submitButtonLabel: '{{ 'project_import_media_from_server' | trans }}',
            mediaServers: {{ mediaServers | json_encode | raw }},

            titleText: '{{ 'importing_files'| trans }}',
            cancelText: '{{ 'cancel' | trans }}',
            confirmText: '{{ 'confirm' | trans }}',
            loadingText: '{{ 'loading_message' | trans }}',
            loadingErrorText: '{{ 'unable_to_load_medias' | trans }}',
            importingText: '{{ 'importing_message' | trans }}',
            importingErrorText: '{{ 'unable_to_import_medias' | trans }}',

            countFetchedText: '{{ 'media_fetched_items' | trans }}',
            countSelectedText: '{{ 'media_selected_items' | trans }}',
            fileUrlText: '{{ 'media_url' | trans }}',
            existsInProjectText: '{{ 'media_exists_in_project' | trans }}',

            directLinksLabel: '{{ 'select_direct_cloud_links' | trans }}',
            directLinksErrorMessage: '{{ 'direct_links_error_message' | trans }}',
            directLinksHelp: '{{ 'insert_direct_links_help' | trans }}',
            directLinksIntroMessage: '{{ 'direct_links_intro' | trans }}'
        }

        const cloudMediaForm = new CloudMediaForm({
            target: document.querySelector('.cloud-media-server'),
            props: {
                messages: cloudSeverMessages,
                mediaServers: {{ mediaServers | json_encode | raw }},
                directoryId: {{ current ? current.id : 'null' }},
                router: Routing,
            }
        });

        const directLinksForm = new DirectLinksForm({
            target: document.querySelector('.cloud-direct-links'),
            props: {
                messages: cloudSeverMessages,
                projectId: {{ project ? project.id : 'null' }},
                directoryId: {{ current ? current.id : 'null' }},
                router: Routing,
            }
        });

        const videoPlayerMessages = {
            videoUrlLabel: '{{ 'project_media_add_video_url_placeholder' | trans }}',
            supportedVideoServices: '{{ 'project_media_supported_video_services' | trans }}',
            urlErrorMessage: '{{ 'incorrect_url' | trans }}',
            videoNotFoundMessage: '{{ 'unable_to_parse_video_url' | trans }}',
            submitButtonLabel: '{{ 'project_import_video_server' | trans }}',
            loadingText: '{{ 'project_import_video_loading' | trans }}',
            submitError: '{{ 'cloud_video_submit_error' | trans }}',
        };
        const cloudVideoInput = new CloudVideoForm({
            target: document.querySelector('.cloud-video-input'),
            props: {
                messages: videoPlayerMessages,
                router: Routing,
                directoryId: {{ current ? current.id : 'null' }},
                projectId: {{ project ? project.id : 'null' }},
            }
        });

    </script>

{% endblock %}
