{% extends "base.html.twig" %}

{% import _self as formMacros %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('build/css/create-project.css') }}">
{% endblock %}

{% block body %}

{% include 'project/navigation.html.twig' with {'current': 'project_edit'} %}

<div id="main-container">

  <h1 class="page-title">
    Schéma
  </h1>

  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">

            <h2>Créer/éditer un schéma</h2>
            <p>Vous pouvez créer/modifier votre schéma de transcription via <a href="{{ path('project_edit_json', {id: project.id}) }}">cet outil</a> de génération de schéma au format JSON</p>

            <h2>Uploader un schéma</h2>
            {{ form_start(form) }}
            
              <div class="row mt-3 mb-4">
                <div class="col">
                  {{ form_label(form.json_schema) }}
                  {{ form_errors(form.json_schema) }}
                  {{ form_widget(form.json_schema) }}
                  <div class="text-right">
                    {% set url = path('project_edit_json', {id: project.id})%}
                    <span class="text-muted small">{{"json_generator_help"|trans({'%url%': url})|raw}}</span>
                  </div>

                  {% if project|hasScheme %}
                  <div class="project-json-row">
                      <a download href="{{ asset('project_files/'~ project.id ~ '/tei-schema.json') }}">tei-schema.json</a>
                      <button data-project-id="{{ project.id }}" id="delete-json" type="button" role="button" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash"></i>
                      </button>
                  </div>
                  {% endif %}
                </div>

              </div>
              {{ form_widget(form._token) }}
              {{ form_row(form.save) }}
            </form>

          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/schema.js') }}"></script>
{% endblock %}
