{% import "media/macros.html.twig" as macros %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      {% if global or personal %}
          <th>{{"project"|trans}}</th>
      {% endif %}
      <th>{{"media"|trans}}</th>
      {% if thumbnail is defined and thumbnail %}
      <th> - </th>
      {% endif %}
      {% if not personal %}
      <th>{{"user"|trans}}</th>
      <th>{{"logs_date"|trans}}</th>
      <th>{{"logs_action"|trans}}</th>
      {% endif %}
      <th>{{"status"|trans}}</th>
    </tr>
  </thead>
  <tbody>
    {% set lastUser = null %}
    {% set lastTranscription = null %}
    {% set lastName = null %}
    {% for log in logs %}
      {% set currentUser =  log.user %}
      {% set currentTranscription = log.transcription %}
      {% set currentName = log.name %}
      {% if (currentUser != lastUser) or (lastTranscription != currentTranscription) or (lastName != currentName) %}
        {% set lastUser = currentUser %}
        {% set lastTranscription = currentTranscription %}
        {% set lastName = currentName %}
        {% set project = log.transcription.media.project %}
        <tr>
          {% if global or personal %}
          <td>
            <a href="{{ path("project_display", {'id': project.id}) }}">{{ project.name}}</a>
          </td>
          {% endif %}
          <td>
            <a href="{{ path("media_transcription_display", {"id": log.transcription.media.id} ) }}">{{ log.transcription.media.name }}</a>
          </td>

          {% if thumbnail is defined and thumbnail %}
          <td>
            <img loading="lazy" style="max-width: 200px;max-height: 50px" src="{{ macros.mediaThumbnailURL(log.transcription.media) }}"/>
          </td>
          {% endif %}

          {% if not personal %}
          <td>
            <a href="{{ path("user_profile", {'id': log.user.id}) }}">{{ log.user.username }}</a>
          </td>
          <td>{{ log.createdAt|date("d/m/Y H:i") }}</td>
          <td>{{ log.name | trans }}</td>
          {% endif %}
          <td>
            {% set transcriptionStatus = log.transcription.media.transcription|transcriptionStatus %}
            {{ include('media/status.html.twig') }}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
