{% extends "base.html.twig" %}
{% import "media/macros.html.twig" as macros %}

{% block body %}
  {% set project = media.project %}
  {% include 'project/navigation.html.twig' with {'project': project, 'current': 'project_transcriptions'} %}

  <style>
  {{ project.css ?  project.css | raw : ''}}
  </style>

  {{ include('media/viewer.html.twig', { 'media': media }) }}

  {% if edit %}
    {{ include('review/ask.html.twig') }}
  {% endif %}

  {# report modal #}
  {{ include('transcribe/report-modal.html.twig') }}

  {% if edit %}
    <input type="hidden" id="log-id" name="log_id" value="{{log.id}}">
    <input type="hidden" id="firstTranscript" name="firstTranscript" value="{{app.user.firstTranscript ? 1 : 0}}">
  {% endif %}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('build/css/intro.css') }}" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    var mode = {{ edit ? '"edit"': '"view"' }};
  </script>
  <script src="{{ asset('build/js/openseadragon.js') }}"></script>
  <script src="{{ asset('build/js/transcription.js') }}"></script>
{% endblock %}
