{% extends "base.html.twig" %}
{% import "project/macros.html.twig" as macros %}

{% block body %}
{% include 'project/navigation.html.twig' with {'current': 'project_edit'} %}

  <div id="main-container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h1 class="page-title">{{"edit_media_server"|trans}}</h1>

        <div class="card">
          <div class="card-body">
        
            {{form(form)}}

            {% if server.id %}
              {% if server.medias|length == 0 %}
              <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                <i class="fas fa-trash"></i> {{"delete_media_server"|trans}}
              </button>

              <div id="deleteModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">{{"delete_media_server"|trans}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>{{"confirm_delete_media_server"|trans}} {{server.name}} ? </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close"|trans}}</button>
                      <a href="{{path("media_server_delete", {id:server.id})}}" class="btn
                      btn-danger">{{"yes_delete"|trans}}</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
