<footer id="footer" class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">{{"backtotop"|trans}}</a> <br/>
      <a href="{{ path('terms') }}">{{"terms"|trans}}</a> <br/>
    </p>
    <p>
      <a class="btn" target="_blank" href="https://litt-arts.univ-grenoble-alpes.fr/">
        <img class="logo-bottom" data-toggle="tooltip" title="Litt&Arts (UMR 5316) - Arts et pratiques du texte, de l'image, de l'écran et de la scène" src="{{ asset('img/logos/logo_littarts.png') }}"/>
      </a>
      <a class="btn" href="https://msh-lorraine.fr/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="MSH de l'Université de Lorraine" src="{{ asset('img/logos/logo-msh-lorraine.png') }}"/>
      </a>
      <a class="btn" href="https://www.univ-lorraine.fr/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Université de Lorraine" src="{{ asset('img/logos/logo-univ-lorraine.png') }}"/>
      </a>
      <a class="btn" href="https://www.univ-grenoble-alpes.fr" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Université Grenoble Alpes" src="{{ asset('img/logos/logo_univ_grenoble_alpes.jpg') }}"/>
      </a>
      <a class="btn" href="https://www.cnrs.fr" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="CNRS Centre national de la recherche scientifique" src="{{ asset('img/logos/logo-cnrs.png') }}"/>
      </a>
      <a class="btn" href="https://poincare.univ-lorraine.fr/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Archives Henri-Poincaré " src="{{ asset('img/logos/logo-ahp.png') }}"/>
      </a>
      <a class="btn" href="https://demarreshs.hypotheses.org/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="DémarreSHS!" src="{{ asset('img/logos/logo_demarre_shs.jpg') }}"/>
      </a>
      <a class="btn" href="https://www.huma-num.fr/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Huma-Num - Hébergeur" src="{{ asset('img/logos/logo_hn.jpg') }}"/>
      </a>
      <a class="btn" href="https://anr.fr/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="ANR" src="{{ asset('img/logos/logo-anr.png') }}"/>
      </a>
      <a class="btn" href="https://www.elan-numerique.fr/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="ELAN - Equipe Littérature et Arts Numériques" src="{{ asset('img/logos/logo_elan.png') }}"/>
      </a>
      <a class="btn" href="https://corli.huma-num.fr/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Consortium CORLI" src="{{ asset('img/logos/logo_corli.png') }}"/>
      </a>
      
    </p>
  </div>
</footer>
